<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of wines">
    {{item.wine.name}} - {{item.wine.country.name}}
    <div>
      <select name="grape" [(ngModel)]="item.wine.blend.grape" #grape="ngModel">
        <option *ngFor="let grape of grapes" [ngValue]="grape">{{grape.name}}</option>
      </select>
      <input type="text" [(ngModel)]="item.wine.blend.percentage" name="grapePercentage" #percentage="ngModel">
      <button (click)="addGrape(wine, grape.value, percentage.value)">
    Add
  </button>
    </div>
    <ul *ngIf="item.wine.blend">
      <li *ngFor="let b of item.wine.blend">{{b.grape.name}} - {{b.percentage}}</li>
    </ul>

</ul>
